* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: "Lato";
    font-size: 18px;
    width: 100%;
}

header {
    position: fixed;
    background-color: white;
    z-index: 10;
    width: 100%;
}

.announcement-bar {
    background-color: #5F599B;
    display: flex;
    justify-content: center;
    align-content: center;
}

.announcement-bar p {
    color: white;
    text-align: center;
    margin: 20px 30px;
    font-size: 1rem;
    font-weight: 100; /* Add more of the font weights for Lato and edit this */
}

.announcement-bar a {
    color: #FFCA14;
}

.header-bar {
    /* align-content: center; */
    margin: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-bar img {
    margin: 0px 10px;
    height: 40px;
    flex-shrink: 2
}

.header-bar ul {
    list-style-type: none;
}

.nav-bar {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
    
}

/* .nav-link {
    display: flex;
    flex-wrap: wrap;
} */

/* .nav-bar ul {
    margin: 40px;
} */

.nav-bar li {
    padding: 10px 28px; /* need to tweak the margin or padding, hover shows the padding is off */
    
}

.nav-bar .nav-link, .nav-bar a {
    text-decoration: none;
}

.nav-bar .nav-link:link, .nav-bar .nav-link:visited {
    color: black;
}

.nav-bar .nav-link:hover {
    color: white;
    background-color: black;
}

.nav-bar .nav-link:active {
    color: white;
    background-color: #5F599B;
}

.header-demo-request {
    color: #C91715;
    border: 3px solid #C91715;
    border-radius: 10px;
    margin: 0px 10px;
    
}

.header-demo-request:hover {
    background-color: #C91715;
}

.header-demo-request li {
    color: #C91715;
}

.header-demo-request li:hover {
    color: white;
}

.header-demo-request:active {
    border: 3px solid white;
}

/* #header-demo-request-button {
    margin: 10px;
} */

main {
    position: relative;
    top: 170px;
    z-index: 1;
    width: 100%;
    background-color: #E9E9ED;
}

#tabs {
    display: flex;
    justify-content: space-around;
    background-color: white;
}

#tabs p {
    width: 31.5%;
    color: white;
    text-align: center;
    align-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

#tab1 {
    background-color: #5F599B;
}

#tab2, #tab3 {
    background-color: #201E34;
}


/* Need to figure out how to properly apply flex-shrink to hero content. Want to make it so the 2 columns don't wrap and content gets smaller to fit on the screen. */

#hero {
    display: flex;
    margin: 50px 50px;
    
}

#hero-left {
    width: 50%;
    padding: 0px 10px;
    /* align-items: flex-start; */
    display: flex;
    flex-direction: column;
    
}

#hero-left h1 {
    font-size: 2.7rem;
    padding: 10px 0px;
    flex-basis: 200px;
    flex-shrink: 1.5;
}

#hero-left p {
    font-size: 1.2rem;
    padding: 5px 0px;
    flex-basis: 70px;
    flex-shrink: 1;
}

#performance {
    font-weight: bold;
    
}

#hero-demo-review {
    display: flex;
    align-items: center;
    
}

#hero-demo-review a, #footer-email-signup a {
    text-decoration: none;
    color: white;
    background-color: #C91715;
    border: 3px solid #C91715;
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px;
}

#hero-demo-review a:hover, #footer-email-signup a:hover {
    color: #C91715;
    background-color: white;
    border: 3px solid #C91715;
}

#hero-demo-review a:active, #footer-email-signup a:active {
    color: white;
    background-color: #C91715;
    border: 3px solid #E9E9ED;
}

#g2reviews {
    height: 70px;
    padding: 20px 40px;
}

#hero-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}

#hero-right h3 {
    font-size: 1.4rem;
    /* padding-top: 30px; */
}

#chaos {
    height: 350px;
    
    
}



#logo-carousel {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 30px 0px;
}

#logo-carousel img {
    height: 30px;
}


#integrations, #resources {
    padding-top: 50px;
    padding-bottom: 50px;
}

#integrations h4, #resources h4, #integrations h3, #resources h3, #integrations .integrations-p, #resources .resources-p {
    margin: 0px 50px;
}

#integrations h4, #resources h4 {
    padding: 0px 10px;
    color: #C91715;
    font-size: 0.8rem;
}

#integrations h3, #resources h3 {
    padding: 15px 10px;
    font-size: 1.7rem;
    /* margin: 15px 0px; */
}

#integrations .integrations-p, #resources .resources-p {
    padding: 0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#integrations-p-bold, #resources-p-bold {
    font-weight: bold;
}

#integrations-carousel {
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

#integrations-carousel .company {
    margin: 7px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    
    width: 270px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.company-logo {
    width: 80%;
    margin: 16px 10px 10px 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
}

#integrations-carousel img {
    height: 30px;
    background-color: inherit;
    text-align: center;
}

#integrations-carousel p {
    color: white;
    text-align: center;
    margin: 10px 20px 20px 20px;
}

/* Need to solve positioning of arrows somehow. .company > img {
    height: 20px;
    text-align: right;
} */

#brandfolder {
    background-color: #3AC5EB;
}

#eloqua {
    background-color: #F80000;
}

#asana {
    background-color: #5F599B;
}

#marketo {
    background-color: #5B4A9E;
}

#movable-ink {
    background-color: #EC3780;
}

#resources {
    display: flex;
}

#resources-left {
    width: 30%;
}

#resources-carousel {
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

#resources-carousel .resource {
    margin: 7px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    width: 270px;
    height: 350px;
    background-color: #201E34;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.resource-img {
    margin-top: 20px;
    height: 150px;
    border-radius: 20px;    
    text-align: center;
}

.arrow-img {
    height: 30px;
    background-color: inherit;
    text-align: center;
}

#resources-carousel p {
    color: white;
    text-align: center;
    margin: 10px 20px 20px 20px;
}

.resource p span {
    color: #1BE7FF;
}


footer {
    color: white;
    background-color: #201E34;
    position: relative;
    top: 170px;
    z-index: 1;
    /* width: 100%; */
    padding: 20px 50px;
}

#footer-email-signup {
    display: flex;
}



#footer-line-break {
    padding: 10px 60px;
    border-bottom: 1px solid white;
}

#footer-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 40px;
}

.footer-column-text {
    width: 15%;
    padding: 0px 10px;
}

#footer-column-1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

#footer-logo {
    height: 30px;
}

.footer-column-icons {
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
}

#footer-g2 {
    height: 70px;
}

#footer-deloitte {
    height: 110px;
    margin-top: 20px;
}

#footer-aicpa {
    height: 110px;
    width: 110px;
    margin-top: 20px;
}